*{
padding:0;
margin:0;
box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
 font-family: sans-serif;
 display:flex;
 justify-content: center;
 margin-top:5rem;
 background-image: linear-gradient(#6571ef,#492a36);
 background-repeat: none;
 height:100vh;
}
.registration-container{
 font-size: 1.6rem;
 height:45rem;
 width:50rem;
 background-color: whitesmoke;
 border-radius: 1rem;
 display:flex;
 flex-direction: column;
 align-items: center;
}
.heading{
    margin: 2rem;
    color:#6571ef;
}
.container{
    margin-bottom:2rem;
}
label{
    display: block;
    font-size: 2rem;
    padding-left: 0.3rem;
}
.input-control{
    height: 4rem;
    width: 40rem;
    border:0.1rem solid blue;
    font-size: 1.6rem;
}
.input-control:focus{
    border:0.1rem solid #48ff00;
   outline:none;
}
button{
    height:4rem;
    width:40rem;
    background-color: blue;
    color:white;
    font-size: 1.6rem;
    font-weight: 600;
    border:none;
    outline:none;
    margin-top: 1.2rem;
}
button:hover{
    background-color: #0000ff9f;
    transform:scale(1.1);
}
.error{
    color:red;
    font-size:1.2rem;
}

@media (max-width:524px) {
    body{
       margin: 0 2rem;
       margin-top: 6rem;

    }
    
}
@media(max-width:444px){
    body{
        margin: 0;
        background-image: none;
        background-color:whitesmoke ;
    }
    .registration-container{
        height:100vh;
        width:100vw;
        border-radius: 0rem;
    }
    .heading{
        text-align: center;
        padding-bottom: 2rem;
    }
    .container{
        margin-bottom: 2rem;
    }
    label{
        padding-left: 3rem;
    }
    .input-control{
        margin-left: 3rem;
        margin-right: 3rem;
    }
    button{
        margin-left:3rem;
    }
    .error{
        margin-left: 3rem;
    }
}
@media(max-width:440px){
    .input-control{
        margin-right: 5rem;
}
  
}
@media(max-width:421px){
    .input-control{
       width: 36rem; 
      
    }
    
    button{
        margin-right: 5rem;
       }

}
@media(max-width:415px) {
    label{
        padding-left: 5rem;
    }
    .input-control{
        margin-left: 5rem;
    }
    .error{
        margin-left: 5rem;
    }
    button{
        width:36rem;
        margin-left:5rem;
    }
}
@media(max-width:362px){
    .input-control{
        width:30rem;
        margin-left: 7rem;
     }
     label{
        padding-left: 7rem;
     }
     .error{
        margin-left: 7rem;
     }
     button{
        width:30rem;
        margin-left: 7rem;
     }

}